/**************************/
/*                        */
/*      bar-buttons       */
/*                        */
/**************************/
$theme__bar-button---size: $theme__particles---size;
$theme__bar-button---font-size: $theme__particles---size;

/**************************/
/*   bar-button--border   */
/**************************/
$theme__bar-button---border-style: solid; 
$theme__bar-button---border-width: 1px;
$theme__bar-button---border-radius: $theme__button---border-radius;