/**************************/
/*                        */
/*        button          */
/*                        */
/**************************/
$theme__button---size: $theme__particles---size;
$theme__button---font-size: $theme__button---size;
$theme__button---border-radius: 0.2rem;
$theme__button---padding: 0.9rem 4rem;
$theme__button---margin: 0;

/**************************/
/*  button-primary-color  */
/**************************/
$theme__button--primary-color---background: $theme--primary-color;
$theme__button--primary-color---color: $theme--secondary-color;
$theme__button--primary-color---border-color: $theme__button--primary-color---background;

/**************************/
/* button-tertiary-color  */
/**************************/
$theme__button--tertiary-color---background: $theme--tertiary-color;
$theme__button--tertiary-color---color: darken($theme--tertiary-color, 35%);
$theme__button--tertiary-color---border-color: $theme__button--tertiary-color---background;