/**************************/
/*                        */
/*        button          */
/*                        */
/**************************/
$theme-button-size: $theme-particles-size;
$theme-button-font-size: $theme-button-size;
$theme-button-border-radius: 0.2em;
$theme-button-padding: 0.5em 2em;
$theme-button-margin: 0;

/**************************/
/*  button-primary-color  */
/**************************/
$theme-button-primary-color-background: $theme-color-primary;
$theme-button-primary-color-text: white;
$theme-button-primary-color-border: $theme-button-primary-color-background;

/**************************/
/* button-terciary-color  */
/**************************/
$theme-button-terciary-color-background: $theme-color-terciary;
$theme-button-terciary-color-text: darken($theme-color-terciary, 25%);
$theme-button-terciary-color-border: $theme-button-terciary-color-background;