/**************************/
/*                        */
/*        colors          */
/*                        */
/**************************/
$theme-color-primary: #009bfb;
$theme-color-secondary: white;
$theme-color-terciary: #C3C3C3;