/**************************/
/*                        */
/*        text            */
/*                        */
/**************************/

/**************************/
/*       text-font        */
/**************************/
$theme-text-font-family-sans: "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";

/**************************/
/*       text-size        */
/**************************/
$theme-text-base-font-size: 15;
$theme-text-size-alpha: 36;
$theme-text-size-beta: 30;
$theme-text-size-gamma: 24;
$theme-text-size-delta: 21;
$theme-text-size-epsilon: 19;
$theme-text-size-dseta: 17;
$theme-text-size-eta: 15;

/**************************/
/*       text-line        */
/**************************/
$theme-text-base-line: 20;
$theme-text-line-alpha: 40;
$theme-text-line-beta: 36;
$theme-text-line-gamma: 30;
$theme-text-line-delta: 28;
$theme-text-line-epsilon: 25;
$theme-text-line-dseta: 23;
$theme-text-line-eta: 20;

/**************************/
/*       text-color       */
/**************************/
$theme-text-color-base: $theme-color-aux-black;

/**************************/
/*   text-margin-bottom   */
/**************************/
$theme-text-margin-bottom_top-h1: $theme-text-base-font-size;
$theme-text-margin-bottom_top-h2: 13;
$theme-text-margin-bottom_top-h3: 12;
$theme-text-margin-bottom_top-h4: 11;
$theme-text-margin-bottom_top-h5: 10;
$theme-text-margin-bottom_top-h6: 9;
$theme-text-margin-bottom_top-p: 20;

/**************************/
/*   text-bold:   		    */
/**************************/
$theme-text-weight-h1: bold;
$theme-text-weight-h2: bold;
$theme-text-weight-h3: bold;
$theme-text-weight-h4: bold;
$theme-text-weight-h5: bold;
$theme-text-weight-h6: bold;