/**************************/
/*                        */
/*        text            */
/*                        */
/**************************/

/**************************/
/*       text-font        */
/**************************/
$theme-text-font-family-sans: "proxima-nova-n1", "proxima-nova", "Helvetica", "Arial", "Verdana", "sans-serif";

/**************************/
/*       text-size        */
/**************************/
$theme--base---font-size: 15;
$theme--alpha---font-size: 36;
$theme--beta---font-size: 30;
$theme--gamma---font-size: 24;
$theme--delta---font-size: 21;
$theme--epsilon---font-size: 19;
$theme--dseta---font-size: 17;
$theme--eta---font-size: 15;

/**************************/
/*       text-line        */
/**************************/
$theme--base--line-height: 20;
$theme--alpha---line-height: 40;
$theme--beta---line-height: 36;
$theme--gamma---line-height: 30;
$theme--delta---line-height: 28;
$theme--epsilon---line-height: 25;
$theme--dseta---line-height: 23;
$theme--eta---line-height: 20;

/**************************/
/*       text-color       */
/**************************/
$theme--base---color: $theme--aux-black---color;

/**************************/
/*   text-margin-bottom   */
/**************************/
$theme__h1---margin-bottom_top: $theme--base---font-size;
$theme__h2---margin-bottom_top: 13;
$theme__h3---margin-bottom_top: 12;
$theme__h4---margin-bottom_top: 11;
$theme__h5---margin-bottom_top: 10;
$theme__h6---margin-bottom_top: 9;
$theme__p---margin-bottom_top: 20;

/**************************/
/*   text-bold:   		    */
/**************************/
$theme__h1---font-weight: normal;
$theme__h2---font-weight: normal;
$theme__h3---font-weight: normal;
$theme__h4---font-weight: normal;
$theme__h5---font-weight: normal;
$theme__h6---font-weight: normal;