/**************************/
/*                        */
/*        text            */
/*                        */
/**************************/

/**************************/
/*       text-font        */
/**************************/
$theme-text-font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

/**************************/
/*       text-size        */
/**************************/
$theme-text-base-font-size: 15;
$theme-text-size-alpha: 36;
$theme-text-size-beta: 30;
$theme-text-size-gamma: 24;
$theme-text-size-delta: 15;

/**************************/
/*       text-line        */
/**************************/
$theme-text-base-line: 20;
$theme-text-line-alpha: 40;
$theme-text-line-beta: 36;
$theme-text-line-gamma: 30;
$theme-text-line-delta: 20;

/**************************/
/*       text-color       */
/**************************/
$theme-text-color-base: $theme-color-aux-black;

/**************************/
/*   text-margin-bottom   */
/**************************/
$theme-text-margin-bottom-h1: 15;
$theme-text-margin-bottom-h2: 15;
$theme-text-margin-bottom-h3: 15;
$theme-text-margin-bottom-p: 20;